{% extends "base.html" %}
<html>

<body>
    {% block content %} {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <div class="container card-panel blue-grey darken-2">
        <h3>Login</h3>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn" type="submit">Login</button>
        </form>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </div>
    {% endblock content %}
</body>

</html>